<form method="post" action="{{ path('app_facture_delete', {'id_f': facture.id_f}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture.id_f) }}">
    <button class="btn">Delete</button>
</form>
